<nav class="navbar navbar-dark bg-dark text-center">
  <span class="navbar-brand mb-0 ml-2 h1">Trakstar Frontend</span>
</nav>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <div class="container" *ngIf="showTable">
        <app-table-render
          [products]="products"
          (deleteEvent)="deleteProduct($event)"
          (createEvent)="createProduct($event)"
          (updateEvent)="updateProduct($event)"></app-table-render>
      </div>
      <div class="container" *ngIf="!showTable">
        <app-form-product [product]="product" (refreshEvent)="refreshData($event)"></app-form-product>
      </div>
    </div>
  </div>

</div>
